.header {

  &__wrapper {
    @include gutter();
    @include layout();
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logo {
    max-width: 300px;

    svg {
      height: auto;
      width: 100%;
    }
  }
}